.container {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    padding: 7px 400px;
}

.buttons-filter {
    display: flex;
    justify-content: space-between;
}

.btn-filter {
    margin-right: 5px;
    margin-bottom: 5px;
}

.list-group {
    margin-top: 5px;
    margin-bottom: 10px;
}

.list-oper {
    margin-bottom: 3px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 8px;
    padding: 12px 0;
}

.list-oper-item {
    width: 25%;
    text-align: center;
}

.list-product {
    margin-bottom: 3px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 8px;
    padding: 12px 0;
}

.list-product-item {
    width: 50%;
    text-align: center;
}

h3 {
    margin: 5px 0 0 0;
    padding: 0;
}

.btn-merch {
    margin: 10px 0;
}

.main-info {
    font-size: 20px;
    color: rgba(255, 51, 57, 0.75);
}

.success-add {
    padding: 20px 10px;
    margin-top: 10px;
    border: 1px solid green;
    border-radius: 6px;
    background: rgba(85, 255, 49, 0.29);
    width: 50%;
    display: none;
}

form label {
    min-width: 100px;
}

p input:focus {
    outline: none;
    box-shadow: none;
}

p input {
    /*width: 100px;*/
    background: transparent;
    padding: 2px 20px;
    border: 1px solid #cccccc;
    border-radius: 8px;
}

.total-number {
    background: rgba(85, 255, 49, 0.29);
    width: 200px;
    height: 50px;
    text-align: center;
    border: 1px solid green;
    border-radius: 6px;
    padding-top: 6px;
}
