{% extends 'base.html' %}
{% block content %}

    <section class="finances">
        <h3 class="openning-btn">Транзакции</h3>
        <ul class="list-group d-none">
            {% for fin in all_finances %}
                {% if fin.operation %}
                    <li class="list-group-item item-operation op-true ">
                        <span class="group-item__name">{{ fin.product }}</span>
                        <span class="group-item__operation operation-true">Доход</span>
                        <span class="group-item__price">{{ fin.price }} рублей</span>
                        <span class="group-item__date">{{ fin.date_added }}</span>
                    </li>
                {% else %}
                    <li class="list-group-item item-operation op-false ">
                        <span class="group-item__name">{{ fin.product }}</span>
                        <span class="group-item__operation operation-true">Расход</span>
                        <span class="group-item__price">{{ fin.price }} рублей</span>
                        <span class="group-item__date">{{ fin.date_added }}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
    <section class="add-form__section">
        <h3 class="openning-btn">Добавить Транзакцию</h3>
        <div class="add-finance-form d-none">
            <form action="" method="post" class="select-size-form ">
                <div class="select-img-wrapper d-flex">{% csrf_token %}
                    {% for product in products %}
                        <div class="select-img">
                            <img src="{{ product.image.url }}" style="height: 90px" alt="">
                            <input type="hidden" value="{{ product.price }}">
                        </div>
                        <input type="hidden" value="{{ product.id }}" required id="id_product">
                    {% endfor %}</div>
                <input id="select-img__selected" name="product" value="" type="hidden">
                <ul class="">
                    <li class="select-size-list">
                        {% for a in all_sizes %}
                            {% for k,v in a.items %}
                                <input class="pro-id-size" type="hidden" value="{{ k }}">
                                {% if v.items %}
                                    <select class="select-size form-control  d-none" name="size_s">
                                        {% for size,available in v.items %}
                                            {% if available %}
                                                <option value="{{ size }}">{{ size }}</option>
                                            {% else %}
                                                <option disabled value="{{ size }}">{{ size }} Недоступно</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <select hidden class="select-size form-control  d-none" name="size_s">
                                        <option selected value="False"></option>
                                    </select>
                                {% endif %}
                            {% endfor %}
                            <input type="hidden" value="" name="size" id="id_size">
                        {% endfor %}
                    </li>
                    <li class="opt-info-form">
                        <input type="text" name="optional_info" maxlength="120" id="id_optional_info"
                               placeholder="{{ form.optional_info.label }}" class="form-control">
                    </li>
                    <li class="form-group">
                        <label for="id_price">{{ form.price.label }}</label>
                        <input type="number" name="price" required="" class="form-control" id="id_price">
                    </li>
                    <li>
                        <select class="form-control" name="operation" id="id_operation">
                            <option value="True" selected="">Доход</option>
                            <option value="False">Расход</option>
                        </select>
                    </li>
                </ul>
                <button type="submit" class="btn btn-info">Добавить</button>
            </form>
            <div class="success-add">
                Успешно добалено
            </div>
        </div>
    </section>

    <section class="merchendise">
        <h3 class="openning-btn">Мерч</h3>
        <ul class="d-none list-group">
            {% for k in all_outer %}
                {% for i,j in k.items %}
                    <h4>{{ i }}</h4>
                    {% for size, avail in j.items %}
                        {% if avail > 0 %}
                            <li class="available-merch list-group-item">
                                <span>{{ size }}</span><span>{{ avail }}</span>
                            </li>
                        {% else %}
                            <li class="not-available-merch list-group-item">
                                <span>{{ size }}</span><span>{{ avail }}</span>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            {% for other in all_other %}
                <h4>{{ other.product }}</h4>
                {% if other.other_quantity > 0 %}
                    <li class="available-merch list-group-item text-center d-inline-block">
                        {{ other.other_quantity }}
                    </li>
                {% else %}
                    <li class="not-available-merch list-group-item text-center">
                        {{ other.other_quantity }}
                    </li>
                {% endif %}
            {% endfor %}

        </ul>
    </section>

    <footer class="footer">
        <div class="total-money">
            Всего: {{ total }}
        </div>
    </footer>
{% endblock %}