{% extends 'base.html' %}

{% block content %}
    <div class="buttons-filter">
        <h3>Доходы/Расходы: </h3>

        <div class="btns-f">
            <button class="btn btn-info active btn-filter">Все</button>
            <button class="btn btn-info btn-filter">Доходы</button>
            <button class="btn btn-info btn-filter">Расходы</button>
        </div>
    </div>
    <button class="btn-merch btn btn-info">Открыть</button>
    <ul class="list-group d-none">
        {% for operation in all_operations %}
            <li class="d-flex list-oper">
                <div class="list-oper-item">{{ operation.optional_info }}</div>
                <div class="list-oper-item">{{ operation.price }} рублей</div>
                <div class="list-oper-item">
                    {% if operation.operation %}
                        Доход
                    {% else %}
                        Расход
                    {% endif %}
                </div>
                <div class="list-oper-item">{{ operation.date_added }}</div>
            </li>
        {% endfor %}
    </ul>
    <div class="form-wrapper">
        <h3>Добавить </h3>
        <button class="btn-merch btn btn-info">Открыть</button>

        <form method="post" class="new-finance-form d-none">

            {% csrf_token %}
            <div class="img__choice-wrapper">
                <input type="hidden" id="id_product" value="">
                {% for outerwear in all_outerwear %}
                    <div class="img_choice"><img src="{{ outerwear.img }}" alt=""></div>
                    <input type="hidden" class="img_id" value="{{ outerwear.id }}">
                    <input type="hidden" class="img_price" value="{{ outerwear.price }}">
                {% endfor %}
            </div>
            {% for outerwear in all_outerwear %}
                <div class="select-size-wrapper select-size-hidden">
                    <label for="id_size">Размер</label>
                    <input type="hidden" value="{{ outerwear.id }}">
                    <select name="size" id="id_size">
                        <option selected="true" disabled="disabled">Выберите размер</option>
                        {% for size,value in outerwear.sizes.items %}
                            {% if value != 0 %}
                                <option value="{{ size }}">{{ size }}</option>
                            {% else %}
                                <option disabled value="{{ size }}">{{ size }} Недоступно</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}

            <div class="price-add">
                <p>
                    <label for="id_price">Цена</label>
                    <input type="number" name="price" required="" id="id_price" value="">
                </p>
                <p>
                    <label for="id_optional_info">Дополнительно</label>
                    {{ form.optional_info }}
                </p>
                <input type="submit" class="btn btn-success" value="Добавить">

            </div>
        </form>

        {#        <form method="post" class="other-product-form">#}
        {##}
        {#            {% csrf_token %}#}
        {#            <div class="img__choice-wrapper">#}
        {#                <input type="hidden" id="id_product" value="">#}
        {#                {% for other in all_other %}#}
        {#                    <div class="img_choice"><img src="{{ other.image }}" alt=""></div>#}
        {#                    <input type="hidden" class="img_id" value="{{ other.id }}">#}
        {#                    <input type="hidden" class="img_price" value="{{ other.price }}">#}
        {#                {% endfor %}#}
        {#            </div>#}
        {#            {% for outerwear in all_outerwear %}#}
        {#                <div class="select-size-wrapper select-size-hidden">#}
        {#                    <label for="id_size">Размер</label>#}
        {#                    <input type="hidden" value="{{ outerwear.id }}">#}
        {#                    <select name="size" id="id_size">#}
        {#                        <option selected="true" disabled="disabled">Выберите размер</option>#}
        {#                        {% for size,value in outerwear.sizes.items %}#}
        {#                            {% if value != 0 %}#}
        {#                                <option value="{{ size }}">{{ size }}</option>#}
        {#                            {% else %}#}
        {#                                <option disabled value="{{ size }}">{{ size }} Недоступно</option>#}
        {#                            {% endif %}#}
        {#                        {% endfor %}#}
        {#                    </select>#}
        {#                </div>#}
        {#            {% endfor %}#}
        {##}
        {#            <div class="price-add">#}
        {#                <p>#}
        {#                    <label for="id_price">Цена</label>#}
        {#                    <input type="number" name="price" required="" id="id_price" value="">#}
        {#                </p>#}
        {#                <p>#}
        {#                    <label for="id_optional_info">Дополнительно</label>#}
        {#                    {{ form.optional_info }}#}
        {#                </p>#}
        {#                <input type="submit" value="Добавить">#}
        {##}
        {#            </div>#}
        {##}
        {##}
        {#        </form>#}


    </div>
    <div class="success-add">
        Успешно добалено
    </div>

    <h3>Мерч: </h3>
    <button class="btn-merch btn btn-info">Открыть</button>

    <ul class="list-group merch-list d-none">
        {% for outerwear in all_outerwear %}
            <div main-fin-item>
                <h3>{{ outerwear.name }}</h3>
                <div class="outer-img"><img src="{{ outerwear.img }}" alt=""></div>
            </div>

            {% for size, value in outerwear.sizes.items %}
                {% if value == 0 %}
                    <li class="not-available">
                        <span>{{ value }}</span>
                        <span>{{ size }}</span>
                    </li>
                {% else %}
                    <li class="available">
                        <span>{{ value }}</span>
                        <span>{{ size }}</span>
                    </li>
                {% endif %}

            {% endfor %}
        {% endfor %}
        {% for other in all_other %}
            <div main-fin-item>
                <h3>{{ other.name }}</h3>
                <div class="outer-img"><img src="{{ other.image.url }}" alt=""></div>
                {% if other.quantity == 0 %}
                    <li class="not-available">
                        <span>{{ other.quantity }}</span>
                    </li>
                {% else %}
                    <li class="available">
                        <span>{{ other.quantity }}</span>
                    </li>
                {% endif %}
            </div>
        {% endfor %}
    </ul>



    <h3>Долги: </h3>
    <button class="btn-merch btn btn-info">Открыть</button>

    <ul class="list-group merch-list d-none">
        {% for debt in debts %}
            <li class="d-flex list-product">
                <div class="list-product-item">{{ debt.user.first_name }}</div>
                <div class="list-product-item">{{ debt.value }}</div>
                <div class="list-product-item">{{ debt.description }}</div>
            </li>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            {{ form_debt.as_p }}
            <input type="submit" class="btn btn-success" value="Добавить">
        </form>
    </ul>



    <p class="total-debt total-number">Долги: <span class="main-info">{{ total_debt }} рублей</span></p>
    <p class="total-money total-number">Всего: <span class="main-info">{{ total }} рублей</span></p>






{% endblock %}